<div class="m-accordion lg:tw-max-w-[1024px] lg:tw-mx-auto">
    <ul class="m-accordion__container tw-px-4 tw-mb-[72px]">
        {% for item in items %}
        {% include '../components/c_accordion-item.twig' with item %}
        {% endfor %}
    </ul>
</div>