<div class="m-product" x-data="product()" x-init="loadProduct('GY4579.S54-2019-B-6')">
    {% include '../scaffold/s_spinner.twig' %}
    
    
    <div x-show="error" class="m-product__error tw-text-red-600 tw-text-center tw-p-4">
        <div x-text="error"></div>
    </div>

    <div x-show="product && !loading" class="m-product__content">
        <div class="tw-grid tw-gap-6 lg:tw-gap-0 tw-grid-cols-1 lg:tw-grid-cols-[1fr_560px] container-up:tw-grid-cols-[calc(50vw+214px)_560px]">
            {% include '../components/c_product-gallery.twig' %}

            {% include '../components/c_product-details.twig' %}
        </div>
    </div>
</div>