.c-recommendations {
	&__image img {
		height: 100%;
	}

	a {
		&:hover {
			&
				~ .c-recommendations__product-info
				.c-recommendations__product-colors {
				> div {
					display: none;
				}

				.c-colors-select {
					display: flex;
				}
			}
		}
	}

	&__product {
		.c-recommendations__product-favorite {
			opacity: 0;
		}

		&:hover {
			.c-recommendations__product-favorite {
				opacity: 1;
			}
		}
	}

	&__product-colors {
		&:hover {
			.c-recommendations__product-colors-title {
				display: none;
			}

			.c-colors-select {
				display: flex;
			}
		}
	}
}
