<div class="a-badge tw-px-2 tw-rounded-sm tw-text-black tw-bg-white tw-border tw-border-solid">
    <p class="a-badge__text tw-uppercase tw-text-sm lg:tw-text-md lg:tw-leading-lg">{{ text }}</p>
</div>