<li class="c-accordion-item" x-data="accordion()">
    <div class="c-accordion-item__button">
        {% include '../atoms/a_button.twig' with {
            icons: ['i_plus', 'i_minus'],
            text: item.title,
            ariaLabel: 'isOpen ? `close accordion` : `open accordion`',
            ariaExpanded: 'isOpen',
            tabindex: '0',
            onclick: 'toggle()',
            xShow: 'isOpen',
        } %}
        <hr class="tw-h-[1px] tw-w-full tw-bg-neutrals-40">
    </div>

    <div :class="isOpen && 'is-open'" class="c-accordion-item__content tw-text-black">
        <div class="c-accordion-item__content-inner">

            {% if item.heading %}
            <p class="{% if item.heading.modifier %}typo-h3--{{ item.heading.modifier }}{% endif %} typo-h3 tw-text-primary">{{ item.heading.text }}</p>
            {% endif %}

            <p class="tw-mt-5 tw-mb-6">{{ item.content }}</p>

            {% if item.listItems %}
            <ul class="c-accordion-item__list tw-my-[18px] tw-pb-4">
                {% for listItem in item.listItems %}
                <li class="c-accordion-item__list-item tw-pl-9">{{ listItem.text }}
                </li>
                {% endfor %}
                </ul>
                {% endif %}

            {% if item.image %}
            {% include '../atoms/a_picture.twig' with { image: item.image, alt: item.image.alt } %}
            {% endif %}

        </div>
    </div>

</li>