<template x-if="product">
    <div class="c-product-info">
    <div class="c-product-info__price tw-text-2xl tw-font-semibold tw-mb-6" x-text="`$${product.price}`"></div>
    <h1 class="c-product-info__title tw-text-3xl tw-font-bold tw-mb-4" x-text="product.title"></h1>
    <div class="c-product-info__colors tw-mb-8">
        <h3 class="tw-text-lg tw-font-semibold tw-mb-4">Color</h3>
        <div class="tw-flex tw-gap-3">
            <template x-for="(color, index) in product.colors" :key="index">
                <a :href="color.url || '#'" class="c-product-info__color-option tw-border tw-w-11 tw-h-11 tw-border-gray-300 tw-rounded hover:tw-border-gray-600 tw-transition-colors">
                    <img :src="color.pattern" :alt="color.name" class="tw-w-full tw-h-full tw-object-cover">
                </a>
            </template>
        </div>
    </div>
    <div class="c-product-info__description tw-text-gray-600 tw-mb-8" x-text="product.description"></div>

    <div class="c-product-info__sizes tw-mb-8">
        <h3 class="tw-text-lg tw-font-semibold tw-mb-4">Size</h3>
        <div class="tw-grid tw-grid-cols-3 tw-gap-3">
            <template x-for="size in product.sizes" :key="size">
                <button 
                    @click="selectSize({size: size, width: product.width, toe: product.ToeHeel.split(' ')[0], heel: product.ToeHeel.split(' ')[2]})"
                    :class="{
                        'tw-bg-black tw-text-white': selectedSize && selectedSize.size === size,
                        'tw-bg-gray-100 tw-text-black hover:tw-bg-gray-200': !selectedSize || selectedSize.size !== size
                    }"
                    class="c-product-info__size-option tw-px-4 tw-py-3 tw-border tw-border-gray-300 tw-rounded tw-transition-colors"
                >
                    <div class="tw-text-center">
                        <div class="tw-font-semibold" x-text="size"></div>
                        <div class="tw-text-sm tw-opacity-75" x-text="`${product.width} ${product.ToeHeel}`"></div>
                    </div>
                </button>
            </template>
        </div>
    </div>

    <button 
        @click="addToCart()"
        class="c-product-info__add-to-cart tw-w-full tw-bg-black tw-text-white tw-py-4 tw-px-6 tw-rounded tw-font-semibold hover:tw-bg-gray-800 tw-transition-colors tw-mb-4"
    >
        Add to Cart
    </button>

    <div class="c-product-info__id tw-text-sm tw-text-gray-500" x-text="`Style No. ${product.id}`"></div>
    </div>
</template>