<template x-if="product">
    <div class="c-product-details tw-px-4">
        <div class="c-product-details__top">
            <div class="tw-pt-1.5 tw-text-neutrals-80 tw-leading-lg">
                <p><span x-text="`$${product.price}`"></span></p>
            </div>

            <h1 class="tw-mt-0.5 tw-text-heading-28 tw-text-primary tw-font-light tw-tracking-light tw-uppercase" x-text="product.title"></h1>
        </div>

        <div class="c-product-details__middle tw-mt-6">
            <div class="c-product-details__colors tw-mb-8">
                <div class="c-product-details__color-heading">
                    <span class="tw-inline-block tw-py-[6px] tw-text-neutrals-80 tw-leading-lg">Color</span>
                    <span class="tw-inline-block tw-pl-1 tw-text-black" x-text="product.color.name"></span>
                </div>

                {% include '../components/c_colors-select.twig' %}
            </div>

            <hr class="tw-my-6 tw-h-px tw-w-full tw-bg-neutrals-40">
            <div class="c-product-details__id tw-text-md tw-leading-md tw-text-neutrals-80 tw-uppercase">
                <p>Style No.<span x-text="product.id"></span></p>
            </div>
            <hr class="tw-my-6 tw-h-px tw-w-full tw-bg-neutrals-40">

            <div class="c-product-details__description">
                <div class="tw-text-lg tw-text-black" x-text="product.description"></div>
                {% include '../atoms/a_button.twig' with {
                    text: 'Read more below',
                    classes: ['tw-py-3 tw-text-lg tw-font-futura tw-text-primary tw-underline'],
                } %}
            </div>

            <div class="c-product-details__sizes tw-mb-8">
                {% include '../components/c_selected-sizes.twig' %}
                
                {% include '../scaffold/s_sizes.twig' %}

                 {# <button
        @click="toggle()"
        x-show="isOpen"
        class="tw-py-3 tw-text-lg tw-font-futura tw-text-primary tw-underline"
        tabindex="0"
    >
        Choose size
    </button> #}
            </div>

            {# <button 
                @click="addToCart()"
                class="c-product-details__add-to-cart tw-w-full tw-bg-black tw-text-white tw-py-4 tw-px-6 tw-rounded tw-font-semibold hover:tw-bg-gray-800 tw-transition-colors tw-mb-4"
            >
                Add to Cart
            </button> #}
        </div>

        <div class="c-product-details__bottom">

        </div>
    </div>
</template>