<div class="c-recommendations__product-colors tw-absolute tw-top-0 tw-left-0 tw-px-5 tw-translate-y-[-50%] lg:tw-translate-y-0 lg:tw-px-4 lg:tw-py-2 lg:tw-pb-2 lg:tw-top-auto lg:-tw-bottom-100 lg:tw-z-20">
    <div class="lg:tw-block tw-hidden tw-text-xs tw-font-semibold tw-text-gray-700  tw-pointer-events-none">
        <span 
            class="tw-text-[14px] tw-leading-[18px] tw-font-normal tw-text-neutrals-80 "
            x-text="`${product.colors && product.colors.length ? product.colors.length : 0} colors`"
        ></span>
    </div>
    <ul class="c-colors-select tw-flex tw-flex-wrap -tw-mt-0.5 tw-ml-0.5 lg:tw-hidden">
        <template x-if="product.colors && product.colors.length">
            <template x-for="(color, index) in isExpanded(product.id) ? product.colors : product.colors.slice(0, 4)" :key="color.name">
                <li 
                    @click="selectColor(product.id, color.name)"
                    class="a-color-item tw-relative tw-w-12 tw-h-12 tw-mr-2 tw-cursor-pointer" 
                    :class="{ 'is-active': getSelectedColor(product.id) === color.name }"
                >
                    <div :class="{ 'tw-w-[42px] tw-h-[42px]': getSelectedColor(product.id) === color.name }" class="a-color-item__image tw-w-11 tw-h-11">
                        <div class="a-color-item__image-inner tw-w-full tw-h-full tw-rounded-full tw-overflow-hidden">
                            <img :src="color.pattern" :alt="color.name" class="tw-w-full tw-h-full tw-object-cover">
                        </div>
                    </div>
                </li>
            </template>
        </template>
        <li x-show="product.colors && product.colors.length > 4" class="a-color-item tw-relative tw-w-12 tw-h-12">
            <a 
                :href="`https://www.lucchese.com/`"
                target="_blank"
                rel="noopener noreferrer"
                class="tw-absolute tw-inset-0 tw-cursor-pointer tw-flex tw-items-center tw-justify-center tw-bg-gray-100 tw-rounded-full tw-text-xs tw-font-semibold tw-text-gray-600 hover:tw-bg-gray-200 tw-transition-all tw-duration-200"
                :title="`${product.colors.length - 4} more colors on lucchese.com`"
            >
                <span x-text="`+${product.colors.length - 4}`"></span>
            </a>
        </li>
    </ul>
</div> 