<div x-show="!loading && !error && recommendations.length > 0" class="c-recommendations__slider tw-h-full lg:tw-w-full lg:tw-overflow-hidden">
    <div class="swiper recommendations-swiper tw-w-full lg:tw-h-full lg:tw-max-h-full">
        <div class="swiper-wrapper tw-w-full">
            <template x-for="product in recommendations" :key="product.id">
                <div class="swiper-slide md:tw-h-full">
                    {% include '../components/c_recommendation-product.twig' %}
                </div>
            </template>
        </div>
    </div>
</div> 