<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    {% if dev %}
        <link rel="stylesheet" href="/src/styles/main.scss">
        <script src="http://localhost:35729/livereload.js?snipver=1"></script>
    {% else %}
        <script type="module" src="/assets/{{ jsFile }}"></script>
        <link rel="stylesheet" href="/assets/{{ cssFile }}">
    {% endif %}
</head>
<body class="flex flex-col h-screen items-center justify-center bg-gray-900 text-white">
    {% include '../scaffold/s_header.twig' %}
    
    <div class="wrapper" id="wrapper">
        <main id="content" class="content" aria-live="polite" role="main" aria-label="Main content">
            <div class="container">
                {% for module in modules %}
                    <section class="module module-{{ module.type }}">
                        {% include '../modules/m_' ~ module.type ~ '.twig' ignore missing with module %}
                    </section>
                {% endfor %}
            </div>
        </main>
    </div>

    <div class="footer">
        {% include '../scaffold/s_newsletter.twig' %}
        {% include '../scaffold/s_footer.twig' %}
    </div>

    <script type="module" src="/src/main.ts"></script>
</body>
</html>