{% set cartIcon = '
    <svg width="25" height="24" viewBox="0 0 25 24" fill="none" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
        <path d="M17.75 17.25H7.04375L4.42813 2.86875C4.39752 2.69653 4.30768 2.54042 4.17415 2.42743C4.04062 2.31444 3.87179 2.25168 3.69687 2.25H2" stroke="#0C2752" stroke-width="1" stroke-linecap="round" stroke-linejoin="round"></path>
        <path d="M8 21C9.03553 21 9.875 20.1605 9.875 19.125C9.875 18.0895 9.03553 17.25 8 17.25C6.96447 17.25 6.125 18.0895 6.125 19.125C6.125 20.1605 6.96447 21 8 21Z" stroke="#0C2752" stroke-width="1" stroke-linecap="round" stroke-linejoin="round"></path>
        <path d="M17.75 21C18.7855 21 19.625 20.1605 19.625 19.125C19.625 18.0895 18.7855 17.25 17.75 17.25C16.7145 17.25 15.875 18.0895 15.875 19.125C15.875 20.1605 16.7145 21 17.75 21Z" stroke="#0C2752" stroke-width="1" stroke-linecap="round" stroke-linejoin="round"></path>
        <path d="M6.35938 13.5H18.1344C18.485 13.5011 18.8247 13.3785 19.0939 13.1539C19.3631 12.9293 19.5445 12.617 19.6063 12.2719L20.75 6H5" stroke="#0C2752" stroke-width="1" stroke-linecap="round" stroke-linejoin="round"></path>
    </svg>
' %}

<span class="icon-cart">{{ cartIcon }}</span>