{% set iconHeart = '<svg xmlns="http://www.w3.org/2000/svg" width="24" height="25" viewBox="0 0 24 25" fill="none">
    <path d="M12.5345 20.0576L20.1283 12.4639C21.9939 10.5889 22.2658 7.52327 20.5033 5.5639C20.0612 5.07013 19.5232 4.67166 18.922 4.39285C18.3208 4.11404 17.669 3.96074 17.0066 3.94231C16.3441 3.92389 15.6848 4.04072 15.0691 4.28569C14.4533 4.53065 13.8939 4.89859 13.4251 5.36702L12.0001 6.8014L10.772 5.5639C8.89701 3.69827 5.83138 3.4264 3.872 5.1889C3.37823 5.63092 2.97977 6.16897 2.70096 6.77018C2.42215 7.37139 2.26885 8.02314 2.25042 8.6856C2.23199 9.34805 2.34883 10.0073 2.59379 10.6231C2.83875 11.2389 3.20669 11.7982 3.67513 12.267L11.4658 20.0576C11.608 20.1985 11.8 20.2775 12.0001 20.2775C12.2003 20.2775 12.3923 20.1985 12.5345 20.0576V20.0576Z" stroke="#4D4D4D" stroke-linecap="round" stroke-linejoin="round"/>
</svg>' %}

<span class="i-heart">{{ iconHeart }}</span>