@use '../styles/breakpoints' as *;

:root {
	--header-height: 64px;

	@include breakpoint(desktop) {
		--header-height: 117px;
	}
}

body {
	font-family: 'BrandonGrotesque', sans-serif;
	color: black;
	font-weight: 400;
}

.wrapper {
	padding-top: var(--header-height);
}

* {
	-webkit-font-smoothing: antialiased;
}
