@use 'sass:math';

$browser-context: 16px;

@function strip-units($value) {
	@return math.div($value, ($value * 0 + 1));
}

@function rem($size) {
	@return math.div(strip-units($size), strip-units($browser-context)) + rem;
}

@mixin font-size($size: $browser-context, $line: $line-height) {
	font-size: strip-units($size) + px;
	font-size: rem($size);
	@if (strip-units($line) < 4) {
		line-height: strip-units($line);
	} @else {
		line-height: math.div(strip-units($line), strip-units($size));
	}
}

@mixin flex($direction: row, $justify: flex-start, $align: flex-start) {
	display: flex;
	flex-direction: $direction;
	justify-content: $justify;
	align-items: $align;
}
