<header class="s-header tw-relative tw-flex tw-justify-between tw-items-stretch tw-pt-1.5 tw-h-16">
    <div class="tw-center tw-w-14">
        {% include '../atoms/a_button.twig' with {
            icons: ['i_hamburger', 'i_close'],
            classes: ['tw-center', 'tw-bg-transparent', 'tw-border-none', 'tw-w-full', 'tw-h-full'],
            ariaLabel: 'menuOpen ? `close main menu` : `open main menu`',
            ariaExpanded: 'menuOpen',
            tabindex: '0',
            onclick: 'toggle()',
            xShow: 'menuOpen',
        } %}
    </div>
    <a href="https://www.lucchese.com" class="tw-absolute tw-left-1/2 -tw-translate-x-1/2 tw-top-1/2 -tw-translate-y-1/2">
        <img src="src/assets/images/Lucchese_Bootmaker_RGB_04086.png" alt="Lucchese Bootmaker Logotype" class="tw-max-w-40 tw-h-[42px]" aria-label="Go to Lucchese Bootmaker website" />
    </a>
    <div class="tw-center">
        <div class="tw-w-14">
        {% include '../atoms/a_button.twig' with { icons: ['i_search'] } %}
        </div>
        <div class="tw-w-14">
        {% include '../atoms/a_button.twig' with { icons: ['i_cart'] } %}
        </div>
    </div>
</header>