<div class="s-share">
    <div class="s-share__container">
        <div class="s-share__content">
            {% include '../atoms/a_button.twig' with {
                icons: ['i_share'],
                text: "Share",
                classes: [
                    'tw-flex',
                    'tw-items-center',
                    'tw-gap-2',
                    'tw-py-2',
                    'tw-h-12',
                    'tw-tracking-wide',
                    'tw-uppercase',
                    'tw-text-sm',
                    'tw-font-medium',
                ]
            } %}
        </div>
    </div>
</div>